body {
    font-family: 'Courier New', monospace;
    background-color: #0a0a0a;
    color: #33ff33;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #33ff33;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #33ff33;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #00ff00;
}

section {
    padding: 50px;
    border-bottom: 1px solid #33ff33;
}

.proyecto {
    background-color: #1a1a1a;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
    padding: 20px;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

.proyecto:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.6);
}

.proyecto img {
    max-width: 100%;
    height: auto;
    border: 2px solid #33ff33;
    margin-bottom: 15px;
}

h2, h3 {
    color: #33ff33;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #33ff33;
    color: #0a0a0a;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 255, 0, 0.3);
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsapp-button:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 10px rgba(0, 255, 0, 0.2);
}

footer {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    color: #33ff33;
    border-top: 1px solid #33ff33;
}

footer p {
    margin: 0;
    font-size: 1.1em;
}
